# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Front_projects\17-classscript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
