@font-face {
    font-family: mr_PotraLightG;
    src: url("/fonts/19700.ttf") format("truetype");
    /*src: url("/fonts/LAKESHOR-webfont.svg")*/
    /*format("svg");*/
}

@font-face {
    font-family: airstream;
    src: url("/fonts/LAKESHOR-webfont.svg")
    format("svg");
}

.logo-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: antiquewhite;
    text-transform: uppercase;
    font-family: mr_PotraLightG, monospace;
}

.thumbnails-list {
    /*removing dots*/
    list-style: none;
    overflow-y: auto;
    max-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.thumbnails-image {
    width: 15vh;
    height: 10vh;
    display: block;
}

.thumbnails-title {
    display: block;
    text-align: center;
    font-size: 1.5em;
    background-color: aliceblue;
    color: black;


}

a {
    text-decoration: none;
}

.thumbnails-item {
    border: solid 1px red;
    margin-top: 2vh;
    margin-right: 1vh;
}

/*#dog1 {*/
/*    margin-top: 0;*/
/*}*/
body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

/*.thumbnails-item+.thumbnails-item {*/
/*    !*relates only if *!*/
/*    margin-top: 30px;*/
/*}*/
.detail-frame {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail-title {
    font-size: 1.5em;
    font-style: italic;
    background-color: #ff0084;
    color: white;
    position: absolute;
    bottom: 1vh;
    left: auto;
    text-shadow: 2px 4px 0 darkmagenta;
    font-family: airstream, monospace;
}
.detail-image {
    width: 65vw;
    height: 55vw;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}
html, body{
    height: 100%;
}
