.logo-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: antiquewhite;
    text-transform: uppercase;
}

.thumbnails-list {
    /*removing dots*/
    list-style: none;
    overflow-y: auto;
    max-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.thumbnails-image {
    width: 15vh;
    height: 10vh;
    display: block;


}

.thumbnails-title {
    display: block;
    text-align: center;
    font-size: 1.5em;
    background-color: aliceblue;
    color: black;


}

a {
    text-decoration: none;
}

.thumbnails-item {
    border: solid 1px red;
    margin-top: 2vh;
    margin-right: 1vh;


    /*overflow: hidden;*/


}

/*#dog1 {*/
/*    margin-top: 0;*/
/*}*/
body {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

/*.thumbnails-item+.thumbnails-item {*/
/*    !*relates only if *!*/
/*    margin-top: 30px;*/
/*}*/



