body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.main-content * {
    margin-top: 40px;
}
.input {
    width: 80vw
}
button {
    width: 10vw
}
body, html {
    height:100%
}
